@model XC_Shoe.Models.Shoe
@using System.Web.Script.Serialization
@using XC_Shoe.Connects;
@using XC_Shoe.Models;
@{
    ViewBag.Title = "Show Shoes Detail";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string projectDirectory = System.Web.Hosting.HostingEnvironment.MapPath("~");

    string userID = "";
    var myCookie = HttpContext.Current.Request.Cookies["UserLogin"];
    List<Favorite> favorites = new List<Favorite>();
    if (myCookie != null)
    {
        userID = myCookie["UserID"].ToString();
        ConnectFavorite connectFavorite = new ConnectFavorite();
        favorites = connectFavorite.getFavoriteData(userID);
    }
    else
    {
        if (Session["FavoriteList"] != null)
        {
            favorites = (List<Favorite>)Session["FavoriteList"];
        }
    }
}

<style>
    .radio-shoes-box {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 2px;
    }

        .radio-shoes-box:hover {
            border: 1px solid black !important;
            cursor: pointer;
        }

    .selected {
        border: 1px solid black !important;
    }
</style>

<div class="row justify-content-center">
    <div class="shoes-detail-box row justify-content-center">
        <div class="main-detail row gx-5">
            <div class="col-lg-8 position-relative mt-4">
                <div class="detail-img-box row">
                    @{
                        string resourcesPath = "~/Resources/Shoes/";
                        string directoryPath = Path.Combine(projectDirectory, "Resources", "Shoes", @Html.DisplayFor(model => model.Url).ToString());
                        resourcesPath = Path.Combine(resourcesPath, @Html.DisplayFor(model => model.Url).ToString());

                        string[] imageFiles = Directory.GetFiles(directoryPath, "*-AVT.jpg").Union(Directory.GetFiles(directoryPath, "*-AVT.png")).ToArray();

                        string imagePath = imageFiles.Length > 0 ? Path.Combine(directoryPath, Path.GetFileName(imageFiles[0])) : "https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png";
                        string[] images = Directory.GetFiles(directoryPath, "*.jpg")
                                 .Union(Directory.GetFiles(directoryPath, "*.png"))
                                 .ToArray();
                        string fileNameOnly = Path.GetFileName(imagePath);
                        string avt_img = Path.Combine(resourcesPath, fileNameOnly);
                    }
                    <div class="sub-img-detail col col-sm-2">
                        <div class="sub-content-img">
                            <ul class="list-unstyled d-flex flex-wrap sub-image-list-item">
                                <li class="image-item">
                                    <img src="@Url.Content(avt_img)"
                                         alt="">
                                </li>
                                @foreach (var item in images)
                                {
                                    string fileName = Path.GetFileName(item);
                                    string img_itemPath = Path.Combine(resourcesPath, fileName);
                                    if (!img_itemPath.Contains(avt_img))
                                    {
                                        <li class="image-item">
                                            <img src="@Url.Content(img_itemPath)"
                                                 alt="">
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="main-img-detail col col-sm-10">
                        <img class="card-img-top img-fluid" alt="Men" src="@Url.Content(avt_img)">

                    </div>
                </div>
            </div>
            <div class="col-lg-4 position-relative mt-4">
                <div class="shoes-detail">
                    <div class="shoes-infor">

                        <p class="details-title">@Html.DisplayFor(model => model.NameShoes)</p>
                        <p class="details-describe">@Html.DisplayFor(model => model.StyleType)'s @Html.DisplayFor(model => model.TypeShoesName) Shoes</p>
                        <span id="formattedPrice" class="detail-price">@Html.DisplayFor(model => model.Price)</span>

                        <script>
                            // JavaScript function to format number with commas
                            function formatNumberWithCommas(number) {
                                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            }

                            // Example usage with the provided model property
                            var originalPrice = @Html.Raw(Json.Encode(Model.Price));
                            var formattedPrice = formatNumberWithCommas(originalPrice);

                            // Insert the formatted price into the designated span element
                            document.getElementById('formattedPrice').innerText = formattedPrice;
                        </script>
                        <span class="unit-money">VND</span>
                    </div>
                    <div class="shoes-Colour-Shoes-box">
                        <div class="form-group select-size">
                            <div class="select-group grid-layout-3col">
                                <div class="radio-shoes-box selected">
                                    <div class="css-b8rwz8 tooltip-component-container">
                                        <a class="radio-shoes"
                                           data-radio-shoe-url="@Html.DisplayFor(model => model.Url).ToString()"
                                           data-radio-shoe-colourname="@Model.NameColor"
                                           data-radio-shoe-id="@Model.ShoesID"
                                           data-radio-shoe-styletype="@Model.StyleType">
                                            <img class="card-img-top img-fluid w-60" alt="Men" src="@Url.Content(avt_img)">
                                        </a>
                                    </div>
                                </div>

                                @foreach (var item in ViewBag.ShoesColor)
                                {
                                    string resourcesPath1 = "~/Resources/Shoes/";
                                    string directoryPath1 = Path.Combine(projectDirectory, "Resources", "Shoes", item.Url);
                                    resourcesPath1 = Path.Combine(resourcesPath1, item.Url);

                                    string[] imageFiles1 = Directory.GetFiles(directoryPath1, "*-AVT.jpg").Union(Directory.GetFiles(directoryPath1, "*-AVT.png")).ToArray();

                                    string imagePath1 = imageFiles1.Length > 0 ? Path.Combine(directoryPath1, Path.GetFileName(imageFiles1[0])) : "https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png";
                                    string fileNameOnly1 = Path.GetFileName(imagePath1);
                                    resourcesPath1 = Path.Combine(resourcesPath1, fileNameOnly1);

                                    if (!resourcesPath1.Contains(avt_img))
                                    {
                                        <div class="radio-shoes-box">
                                            <div class="css-b8rwz8 tooltip-component-container">
                                                <div class="radio-shoes"
                                                     data-radio-shoe-url="@item.Url"
                                                     data-radio-shoe-colourname="@item.NameColor"
                                                     data-radio-shoe-id="@item.ShoesID"
                                                     data-radio-shoe-styletype="@item.StyleType">
                                                    <img class="card-img-top img-fluid w-60" alt="Men" src="@Url.Content(resourcesPath1)">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="shoes-size-box">
                        <div class="form-group select-size">
                            <label class="form-heading">Select Size</label>
                            <div class="select-group grid-layout-3col" id="radio-size-select-box">
                                @foreach (var item in ViewBag.size)
                                {
                                    <input class="radio-size" type="button" id="size-@item.SizeName" value="@item.SizeName">

                                }
                                <span class="form-message" style="clear: both;"></span>

                            </div>
                        </div>
                    </div>
                    <div class="action-box">
                        <a class="btn" id="add-bag-btn">
                            Add to cart <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <a class="favorite-btn btn" id="unfavorite-btn" href="#">
                            Favourite &nbsp;@{
                                Favorite existingFavorite = favorites.FirstOrDefault(fav => fav.ShoesID == Model.ShoesID && fav.ColorName == Model.NameColor && fav.StyleType == Model.StyleType);
                                if (existingFavorite == null)
                                {
                                    <i class="fa-regular fa-heart"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-heart"></i>
                                }
                            }
                        </a>
                    </div>
                    <div class="review-box">
                        <a class="review-show" data-bs-toggle="collapse" href="#load-reviews" role="button" aria-expanded="false" aria-controls="load-reviews">
                            <div class="review-box-title">Reviews</div>
                            <div class="dropdown-icon"><i class="fa-solid fa-chevron-down"></i></div>
                            <div class="review-box-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>

                        </a>
                        <div class="collapse" id="load-reviews">
                            <div class="card card-body">
                                <div class="total-rating-star-box"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <span class="total-star-rating">4.8 Stars</span></div>
                                <div class="reviews">
                                    <ul>
                                        <li class="review-item">
                                            <div class="star-rating">
                                                <span class="number-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                                <span class="user-name">Takagi</span>
                                                <span class="rating-date">12 Oct 2023</span>
                                            </div>
                                            <div class="rating-describe">Honestly the most iconic shoe ever. So classy and can wear with literally everything. Really comfortable for the price as well. Love everything abt it.</div>
                                        </li>
                                        <li class="review-item">
                                            <div class="star-rating">
                                                <span class="number-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                                <span class="user-name">Takagi</span>
                                                <span class="rating-date">12 Oct 2023</span>
                                            </div>
                                            <div class="rating-describe">Honestly the most iconic shoe ever. So classy and can wear with literally everything. Really comfortable for the price as well. Love everything abt it.</div>
                                        </li>
                                        <li class="review-item">
                                            <div class="star-rating">
                                                <span class="number-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                                <span class="user-name">Takagi</span>
                                                <span class="rating-date">12 Oct 2023</span>
                                            </div>
                                            <div class="rating-describe">Honestly the most iconic shoe ever. So classy and can wear with literally everything. Really comfortable for the price as well. Love everything abt it.</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended-purchase row justify-content-center">
        <div class="recommended-purchase-title row">
            <h2>You Might Also Like</h2>
        </div>
        <div class="recommended-purchase-list row gx-5">
            <div class="recommended-purchase-item col-md-4 position-relative mt-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" alt="Men"
                             src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Basketball</h2>
                        </a>
                        <p class="card-text type-shoes">Sport shoes</p>
                        <p class="card-text number-colour">1 Colour</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn categories-shoes-btn shoes-price">3,200,00</a>
                    </div>
                </div>
            </div>
            <div class="recommended-purchase-item col-md-4 position-relative mt-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" alt="Men"
                             src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Basketball</h2>
                        </a>
                        <p class="card-text type-shoes">Sport shoes</p>
                        <p class="card-text number-colour">1 Colour</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn categories-shoes-btn shoes-price">3,200,00</a>
                    </div>
                </div>
            </div>
            <div class="recommended-purchase-item col-md-4 position-relative mt-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" alt="Men"
                             src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Basketball</h2>
                        </a>
                        <p class="card-text type-shoes">Sport shoes</p>
                        <p class="card-text number-colour">1 Colour</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn categories-shoes-btn shoes-price">3,200,00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<script>
    function HoverAction() {
        const radios = document.querySelectorAll('.radio-size');
        radios.forEach(radio => {
            radio.addEventListener('click', () => {
                radios.forEach(radio => radio.classList.remove('btn-checked'));
                radio.classList.add('btn-checked');

                const selectGroup = radio.parentElement.parentElement;
                selectGroup.style.color = "black";
                selectGroup.querySelector('.select-group').classList.remove('unselected');
                // console.log(radio);
            });
        });

        //sub-content-img-item
        const subContentImgItemSelector = document.querySelectorAll('.image-item');
        const mainContentImgItemSelector = document.querySelector('.main-img-detail');
        subContentImgItemSelector.forEach(subElementTarget => {
            subElementTarget.addEventListener('mouseenter', () => {
                mainContentImgItemSelector.querySelector('img').src = subElementTarget.querySelector('img').src;
            });
        });
    }
</script>

<script>
    $(document).ready(function () {
        $(".radio-shoes").click(function () {
            $(".radio-shoes-box").removeClass("selected");

            $(this).closest(".radio-shoes-box").addClass("selected");

            var folderName = $(this).data("radio-shoe-url");
            var colourname = $(this).data("radio-shoe-colourname");
            var shoesID = $(this).data("radio-shoe-id");
            console.log(colourname);
            console.log(shoesID);
            $.ajax({
                url: "/User/GetImages",
                method: 'POST',
                data: { url: folderName, colourName: colourname, shoesID: shoesID },
                success: function (result) {
                    var avtImg = result.avtImg;
                    var imagesFile = result.imagesFile;
                    var listSize = result.sizes;

                    const mainContentImgItemSelector = document.querySelector('.main-img-detail');
                    mainContentImgItemSelector.querySelector('img').src = avtImg;

                    const subImageListItem = document.querySelector('.sub-image-list-item');
                    while (subImageListItem.firstChild) {
                        subImageListItem.removeChild(subImageListItem.firstChild);
                    }

                    var liEle = document.createElement("li");
                    liEle.classList.add('image-item')
                    var imgEle = document.createElement("img");

                    imgEle.src = avtImg;
                    imgEle.alt = "Images";

                    liEle.appendChild(imgEle);

                    subImageListItem.appendChild(liEle);

                    for (var imagePath of imagesFile) {
                        if (imagePath != avtImg) {
                            var liElement = document.createElement("li");
                            liElement.classList.add('image-item')
                            var imgElement = document.createElement("img");

                            imgElement.src = imagePath;
                            imgElement.alt = "Images";

                            liElement.appendChild(imgElement);
                            subImageListItem.appendChild(liElement);
                        }
                    }

                    const radioSizeSelectBox = document.getElementById('radio-size-select-box');
                    while (radioSizeSelectBox.firstChild) {
                        radioSizeSelectBox.removeChild(radioSizeSelectBox.firstChild);
                    }
                    for (var size of listSize) {

                        const inputElement = document.createElement('input');
                        inputElement.classList.add('radio-size');
                        inputElement.type = 'button';
                        inputElement.id = 'size-' + size.toString();
                        inputElement.value = size.toString();

                        radioSizeSelectBox.appendChild(inputElement);
                    }


                    //console.log(avtImg);
                    //console.log(imagesFile);
                    //console.log(listSize);
                    HoverAction();
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        });
    });
</script>

<script>
    function updateCSSInThisPage() {
        const mainImage = document.querySelector(".main-img-detail");
        if (window.innerWidth < 1024) {
            const containerWidth = mainImage.offsetWidth;
            mainImage.getElementsByTagName("img")[0].style.height = containerWidth + "px";
            mainImage.getElementsByTagName("img")[0].style.width = containerWidth + "px";
        }
        else {
            mainImage.getElementsByTagName("img")[0].style.height = "600px";
            mainImage.getElementsByTagName("img")[0].style.width = "500px";
        }
    }
    window.addEventListener('load', updateCSSInThisPage);
    window.addEventListener('resize', updateCSSInThisPage);
    HoverAction();
</script>

<script>
    function showAndAutoHideToast() {
        $('#liveToast').removeClass('hide').addClass('show');

        setTimeout(function () {
            $('#liveToast').toast('hide');
        }, 3000); 
    }

    $('#liveToast').on('hidden.bs.toast', function () {
        $('#liveToast').removeClass('show').addClass('hide');
    });

    $('#liveToast .btn-close').click(function () {
        $('#liveToast').toast('hide');
    });

    $(document).ready(function () {
        var userID = "@userID";
        $(".favorite-btn").click(function () {
            var selectedRadioShoes = $(".radio-shoes-box.selected .radio-shoes");

            if (selectedRadioShoes.length > 0) {
                var colourName = selectedRadioShoes.first().data("radio-shoe-colourname");
                var shoesId = selectedRadioShoes.first().data("radio-shoe-id");
                var styleType = selectedRadioShoes.first().data("radio-shoe-styletype");
                var iconElement = $(this).find("i");
                $.ajax({
                    type: "POST",
                    url: "/Favorite/AddToFavorite",
                    data: { userID: userID, shoesId: shoesId, colour: colourName, styleType: styleType },
                    success: function (result) {
                        if (result.success) {
                            iconElement.removeClass("fa-regular").addClass("fa-solid");

                        } else {
                            iconElement.removeClass("fa-solid").addClass("fa-regular");
                        }

                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            }
        });

        $("#add-bag-btn").click(function () {
            var selectedRadioShoes = $(".radio-shoes-box.selected .radio-shoes");
            var selectedSize = $(".radio-size.btn-checked");

            if (selectedRadioShoes.length > 0) {
                var colourName = selectedRadioShoes.first().data("radio-shoe-colourname");
                var shoesId = selectedRadioShoes.first().data("radio-shoe-id");
                var styleType = selectedRadioShoes.first().data("radio-shoe-styletype");

                if (selectedSize.length != 0) {
                    var shoeSize = parseInt(selectedSize.first().val(), 10);
                    if (!isNaN(shoeSize)) {
                        $.ajax({
                            type: "POST",
                            url: "/Bag/AddToBag",
                            data: { userID: userID, shoesId: shoesId, colour: colourName, styleType: styleType, size: shoeSize},
                            success: function (result) {
                                if (result.success) {
                                    showAndAutoHideToast();
                                }
                            },
                            error: function (error) {
                                console.log("Error:", error);
                            }
                        });
                    }
                } else {
                    alert("Please choose size to add to cart!");
                }
                
            }
        });

    });
</script>