<header>
    <div class="fixed-header position-fixed">
        <div class="row justify-content-center">
            <div class="header-left col-2">
                <button class="btn" id="sidebar-toggle" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="header-center col-8">
                <h2 class="header-title">@ViewBag.MainTitle</h2>
            </div>
            <div class="header-right col-2">
                <div class="avt-img">
                    <a href="@Url.Action("MyAccount", "Admin")" data-bs-toggle="offcanvas" data-bs-target="#account-display" aria-controls="account-display">
                        <img src="@Url.Content(ViewBag.ThisAccountImage)"
                             alt="@ViewBag.UserName">
                    </a>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="account-display" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-inform text-reset"><i class="fa-regular fa-bell"></i></button>
                            <h5 id="offcanvasRightLabel">@ViewBag.UserName</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="modal-avt-img">
                                <a href="@Url.Action("MyAccount", "Admin")">
                                    <img src="@Url.Content(ViewBag.ThisAccountImage)"
                                         alt="@ViewBag.UserName">
                                </a>
                            </div>
                            <div class="modal-body-content d-flex flex-column">
                                <a href="@Url.Action("ShowHomePage", "User")">Go to Main</a>
                                <a href="@Url.Action("MyAccount", "Admin")">My Account</a>
                                <a href="@Url.Action("LogOut", "Login")">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>