@model IEnumerable<XC_Shoe.Models.User>

@{
    ViewBag.Title = "Manage Admins";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
    var shopBranches = ViewBag.ShopBranches as SelectList;

}

<nav class="navbar navbar-expand-md box">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="add-new-btn" aria-current="page" href="#"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add new
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content" style="height:50%">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add New Admin Account</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <hr class="my-4">
                                    <form id="adminForm" action="@Url.Action("AdminProcessSignUp", "Admin")" method="post" style="height:50%; width:100%">
                                        <div class="mb-3">
                                            <label for="name" class="form-label fs-6">UserName</label>
                                            <input type="text" class="form-control text-center" id="name" name="name" placeholder="Enter Name" style="height:17%;font-size:12px;width:100%; background-color:azure" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Email" class="form-label fs-6">Email</label>
                                            <input type="text" class="form-control text-center" id="Email" name="Email" placeholder="Enter Email" style="height:17%;font-size:12px;width:100%; background-color:azure" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Password" class="form-label fs-6">Password</label>
                                            <input type="password" class="form-control text-center" id="Password" name="Password" placeholder="Enter Password" style="height:17%;font-size:12px;width:100%; background-color:azure" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Phone" class="form-label fs-6">Phone</label>
                                            <input type="text" class="form-control text-center" id="Phone" name="Phone" placeholder="Enter Phone" style="height:17%;font-size:12px;width:100%; background-color:azure" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Address" class="form-label fs-6">Address</label>
                                            <input type="text" class="form-control text-center" id="Address" name="Address" placeholder="Enter Address" style="height:17%;font-size:12px;width:100%; background-color:azure" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Address" class="form-label fs-6">Shopbranch</label>
                                            <select class="form-select sm-6" id="ShopBranch" name="ShopBranch" aria-label="Select ShopBranch">
                                                <option value="">Select an item</option>
                                                @foreach (var item in shopBranches)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>


                                        <!-- Add more fields as needed -->

                                        <hr class="my-4">

                                        <!-- Additional form fields can be added here -->

                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" onclick="saveChanges()" class="btn btn-primary">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </li>
            </ul>
            @using (Html.BeginForm("ManageAdmin", "Admin", new { role = ViewBag.Role, sort = ViewBag.Sort }, FormMethod.Get, new { @class = "d-flex search-box justify-content-end" }))
            {
                <input type="hidden" name="status" value="@ViewBag.Role" />
                <input type="hidden" name="sort" value="@ViewBag.Sort" />
                <input class="form-control" type="search" placeholder="Search" name="search"
                       aria-label="Search" value="@ViewBag.SearchValue">
                <button class="search-btn" type="submit">Search</button>
            }
        </div>
    </div>
</nav>
<div class="box list-box d-flex flex-column">
    <div class="header-list-box d-flex flex-column">
        <div class="list-box-title d-flex">
            <h3 class="list-box-title-text list-box-total">Total: @Model.Count()</h3>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSort" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort
                    @{
                        if (ViewBag.Sort == "ASC")
                        {
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-arrow-down-z-a"></i>
                        }

                    }
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSort">
                    <li><a class="dropdown-item" href="@Url.Action("ManageAdmin", "Admin", new { role = ViewBag.Role, sort = "ASC", search = ViewBag.SearchValue })">Sort <i class="fa-solid fa-arrow-down-a-z"></i></a></li>
                    <li><a class="dropdown-item" href="@Url.Action("ManageAdmin", "Admin", new { role = ViewBag.Role, sort = "DESC", search = ViewBag.SearchValue })">Sort <i class="fa-solid fa-arrow-down-z-a"></i></a></li>
                </ul>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="pagination-nav d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content-list-box user-list">
        <div class="row justify-content-evenly .flex-wrap">
            @foreach (var item in Model)
            {
                <div class="col-md-2">
                    <div class="card">
                        <a href="#">
                            @{
                                string resourcesPath = "~/Resources/Account/";
                                resourcesPath = Path.Combine(resourcesPath, item.Image);
                            }
                            <img class="card-img-top img-fluid" alt="Men" src="@Url.Content(resourcesPath)">
                        </a>
                        <div class="card-body">
                            <a href="#">
                                <h2 class="card-title full-name">@item.UserName</h2>
                            </a>
                            <p class="card-text user-name">#@item.UserID</p>
                            <p class="card-text email">@item.Email</p>
                            <p class="card-text phonenumber">@item.PhoneNumber</p>
                        </div>
                        <div class="card-footer d-flex">
                            <button class="detail-btn col" data-bs-toggle="modal" data-bs-target="#@item.UserID">Detail</button>
                            <button class="delete-btn col">@Html.ActionLink("Disable", "Disable", new { id = item.UserID })</button>
                        </div>
                    </div>
                    <div class="modal fade" id="@item.UserID" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">@item.UserName</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="userId">UserID:</label>
                                        <input type="text" id="userId" name="userId" class="form-control" value="@item.UserID" style="background-color: aliceblue; text-align: center">
                                    </div>
                                    <div class="mb-3">
                                        <label for="userName">UserName:</label>
                                        <input type="text" id="userName" name="userName" class="form-control" value="@item.UserName"style="background-color: aliceblue; text-align: center">
                                    </div>

                                    <div class="mb-3">
                                        <label for="email">Email:</label>
                                        <input type="text" id="email" name="email" class="form-control" value="@item.Email"style="background-color: aliceblue; text-align: center">
                                    </div>

                                    <div class="mb-3">
                                        <label for="phoneNumber">PhoneNumber:</label>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="@item.PhoneNumber"style="background-color: aliceblue; text-align: center">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="footer-list-box d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <p class="quantity">
                @Model.Count()/@ViewBag.Total Total
            </p>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    function saveChanges() {
        // Get a reference to the form
        var form = document.getElementById("adminForm");

        // Submit the form
        form.submit();
    }
</script>