@model IEnumerable<XC_Shoe.Models.Bag>

@{
    ViewBag.Title = "Show Bag Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string projectDirectory = System.Web.Hosting.HostingEnvironment.MapPath("~");

    string userID = "";
    var myCookie = HttpContext.Current.Request.Cookies["UserLogin"];
    if (myCookie != null)
    {
        userID = myCookie["UserID"].ToString();
    }
}
<style>
    .select-line input {
        width: 100% !important;
        border: 1px solid #cccc;
        background-color: transparent;
        position: relative;
        padding-left: 0.5rem;
    }
</style>
<div class="row justify-content-center">
    <div class="bag-content row justify-content-center">
        <div class="bag col-lg-8 position-relative mt-4">
            <div class="bag-content-title row">
                <h2>Bag</h2>
            </div>
            @foreach (var item in Model)
            {
                string selected = "";
                if (item.BuyingSelectionStatus)
                {
                    selected = "selected";
                }
                <div class="bag-items row gx-5 @selected">
                    <div class="bag-items-img col-2 position-relative">
                        <a href="@Url.Action("ShowShoesDetail", "User", new { shoesID = item.ShoesID, colourName = item.ColorName })">
                            @{
                                string resourcesPath = "~/Resources/Shoes/";
                                string directoryPath = Path.Combine(projectDirectory, "Resources", "Shoes", @item.Url);
                                resourcesPath = Path.Combine(resourcesPath, @item.Url);

                                string[] imageFiles = Directory.GetFiles(directoryPath, "*-AVT.jpg").Union(Directory.GetFiles(directoryPath, "*-AVT.png")).ToArray();

                                string imagePath = imageFiles.Length > 0 ? Path.Combine(directoryPath, Path.GetFileName(imageFiles[0])) : "https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png";
                                string fileNameOnly = Path.GetFileName(imagePath);
                                resourcesPath = Path.Combine(resourcesPath, fileNameOnly);
                            }
                            <img class="card-img-top img-fluid" alt="Men" src="@Url.Content(resourcesPath)">
                        </a>
                    </div>
                    <div class="bag-item-details col-10 position-relative" style="padding: 0"
                        data-radio-shoe-colourname="@item.ColorName"
                        data-radio-shoe-size="@item.Size"
                        data-radio-shoe-id="@item.ShoesID"
                        data-radio-shoe-styletype="@item.StyleType">
                        <div class="row">
                            <div class="bag-items-infomation col-9 position-relative">
                                <div class="bag-items-infomation-details">
                                    <a class="details-title" href="#">@item.ShoesName</a>
                                    <p class="details-describe">
                                        @item.StyleType's @item.TypeName Shoes <br>
                                        @item.ColorName
                                    </p>
                                    <div class="details-options row justify-content-start">
                                        <div class="select-line col-sm-4">
                                            <span>Size: @item.Size</span>
                                        </div>
                                        <div class="select-line col-sm-4">
                                            <span>Quantity: </span>
                                            <input type="number"
                                                   class="details-options-quantity" value="@item.Quantity" min="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 position-relative" style="padding: 0">
                                <div class="bag-items-money col align-self-start">
                                    <span class="prices">@item.Price</span>
                                    <span class="unit">đ</span>
                                </div>
                                <div class="clear-bag-items col align-self-end">
                                    <div>
                                        <button class="btn select-group-btn">
                                            @{
                                                if (item.BuyingSelectionStatus)
                                                {
                                                    <i class="fa-regular fa-square-check"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa-regular fa-square"></i>
                                                }
                                            }

                                        </button>
                                        <button class="btn clear-item">
                                            <i class="fa-solid fa-x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-seperate mt-4"></div>
                </div>
                                                }
        </div>
        <div class="col-lg-4 position-relative mt-4">
            <div id="summary-box">
                <section class="title">
                    Summary
                </section>

                <div class="sub-total-line">
                    <div class="summary-box-line">
                        <span>Subtotal</span>
                        <div class="summary-box-money-items">
                            <span class="money" id="sub-total">0</span>
                            <span class="unit">đ</span>
                        </div>
                    </div>
                    <div class="summary-box-line">
                        <span>Delivery Fee</span>
                        <div class="summary-box-money-items">
                            <span class="money" id="delivery-fee"></span>
                            <span class="unit">đ</span>
                        </div>
                    </div>
                    <div class="line-seperate"></div>
                </div>
                <div id="total-line">
                    <div class="summary-box-line">
                        <span>Total</span>
                        <div class="summary-box-money-items">
                            <span class="money" id="total"></span>
                            <span class="unit">đ</span>
                        </div>
                    </div>
                    <div class="line-seperate"></div>
                </div>
                <button id="checkout-btn">Checkout</button>
            </div>
        </div>
    </div>
    <div class="recommended-purchase row justify-content-center">
        <div class="recommended-purchase-title row">
            <h2>You Might Also Like</h2>
        </div>
        <div class="recommended-purchase-list row gx-5">
            <div class="recommended-purchase-item col-lg-4 position-relative mt-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" alt="Men"
                             src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Basketball</h2>
                        </a>
                        <p class="card-text type-shoes">Sport shoes</p>
                        <p class="card-text number-colour">1 Colour</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn categories-shoes-btn shoes-price">3,200,00</a>
                    </div>
                </div>
            </div>
            <div class="recommended-purchase-item col-lg-4 position-relative mt-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" alt="Men"
                             src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Basketball</h2>
                        </a>
                        <p class="card-text type-shoes">Sport shoes</p>
                        <p class="card-text number-colour">1 Colour</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn categories-shoes-btn shoes-price">3,200,00</a>
                    </div>
                </div>
            </div>

            <div class="recommended-purchase-item col-lg-4 position-relative mt-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" alt="Men"
                             src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b207c97d-1d63-4e43-9339-375b26222ae2/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP.png">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Basketball</h2>
                        </a>
                        <p class="card-text type-shoes">Sport shoes</p>
                        <p class="card-text number-colour">1 Colour</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn categories-shoes-btn shoes-price">3,200,00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var userID = "@userID";

        $(".details-options-quantity").on("input", function () {
            updateInputValue($(this));
        });

        function updateInputValue(inputElement) {
            var newQuantity = inputElement.val();
            if (isNaN(newQuantity)) {
                alert("Please type quantity!");
                return;
            }

            var bagItemsElement = inputElement.closest('.bag-items');

            var isSelected = false;
            if (bagItemsElement.hasClass('selected')) {
                isSelected = true;
            }
            var bagItemDetails = inputElement.closest('.bag-item-details');

            var colourName = bagItemDetails.data("radio-shoe-colourname");
            var size = bagItemDetails.data("radio-shoe-size");
            var shoesId = bagItemDetails.data("radio-shoe-id");
            var styleType = bagItemDetails.data("radio-shoe-styletype");

            $.ajax({
                type: "POST",
                url: "/Bag/UpdateBag",
                data: {
                    userID: userID,
                    shoesId: shoesId,
                    colour: colourName,
                    styleType: styleType,
                    size: size,
                    quantity: newQuantity,
                    selection: isSelected
                },
                success: function (result) {
                    Summary();
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }

        
        $(".select-group-btn").on("click", function () {
            selectAction($(this));
        });

        function selectAction(elementSelectGroup) {

            var bagItemsElement = elementSelectGroup.closest('.bag-items');

            const iconSelectionItem = elementSelectGroup.find(".fa-regular");
            var isSelected = false;

            if (bagItemsElement.hasClass('selected')) {

                iconSelectionItem.removeClass('fa-square-check').addClass('fa-square');
            } else {

                iconSelectionItem.removeClass('fa-square').addClass('fa-square-check');
                isSelected = true;
            }

            bagItemsElement.toggleClass("selected");


            var bagItemDetails = elementSelectGroup.closest('.bag-item-details');

            var colourName = bagItemDetails.data("radio-shoe-colourname");
            var size = bagItemDetails.data("radio-shoe-size");
            var shoesId = bagItemDetails.data("radio-shoe-id");
            var styleType = bagItemDetails.data("radio-shoe-styletype");
            var newQuantity = bagItemDetails.find(".details-options-quantity").val();

            $.ajax({
                type: "POST",
                url: "/Bag/UpdateBag",
                data: {
                    userID: userID,
                    shoesId: shoesId,
                    colour: colourName,
                    styleType: styleType,
                    size: size,
                    quantity: newQuantity,
                    selection: isSelected
                },
                success: function (result) {
                    //console.log(result);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });


            Summary();
        }


        $(".clear-item").on("click", function () {
            clearAction($(this));
        });

        function clearAction(elementClear) {
            var bagItemsElement = elementClear.closest('.bag-items');

            var bagItemDetails = elementClear.closest('.bag-item-details');
            var colourName = bagItemDetails.data("radio-shoe-colourname");
            var size = bagItemDetails.data("radio-shoe-size");
            var shoesId = bagItemDetails.data("radio-shoe-id");
            var styleType = bagItemDetails.data("radio-shoe-styletype");

            $.ajax({
                type: "POST",
                url: "/Bag/DeleteItemFromBag",
                data: {
                    userID: userID,
                    shoesId: shoesId,
                    colour: colourName,
                    styleType: styleType,
                    size: size
                },
                success: function (result) {
                    console.log(result);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });

            bagItemsElement.remove();

            Summary();            
        }
    });
</script>

<script>
    function Summary() {
        if ($('.bag-items').length == 0) {
            const h3Element = $('<h3>').attr('id', 'no-items').text('There are no items in your bag.');

            const bagElement = $('.bag');

            bagElement.append(h3Element);
        }
        //Summary
        const deliveryFeeElement = $('#delivery-fee');
        const subTotalElement = $('#sub-total');
        const totalElement = $('#total');
        const noItemsElement = $('#no-items');
        // Tinh tong tien

        const checkOutBtn = $('#checkout-btn');

        var subTotal = 0;
        const items = $('.bag-items.selected');

        if (!noItemsElement.length && items.length != 0) {
            const quantitiesChange = $('.details-options-quantity');

            items.each(function () {
                var quantity = parseFloat($(this).find('.details-options-quantity').val());
                var prices = parseFloat($(this).find('.prices').text().replace(/,/g, ''));

                subTotal += quantity * prices;
            });

            //Delivery-fee = 250,000đ
            var deliveryFee = 250000;
            deliveryFeeElement.text(deliveryFee.toLocaleString());

            //Đưa subTotal vào element id= "sub-total"
            subTotalElement.text(subTotal.toLocaleString());

            //Tính total = subtotal + delivery-fee
            var total = subTotal + deliveryFee;

            //Đưa subTotal vào element id= "sub-total"
            totalElement.text(total.toLocaleString());

            checkOutBtn.removeAttr('disabled');
            checkOutBtn.css('cursor', 'pointer');
            checkOutBtn.attr("style", "background-color: #black !important; color: white !important;");

            checkOutBtn.on('click', function (e) {
                e.preventDefault();

                sessionStorage.setItem('subTotal', subTotal.toString());
                sessionStorage.setItem('total', total.toString());
                sessionStorage.setItem('deliveryFee', deliveryFee.toString());
            });
        } else {
            deliveryFeeElement.text('0');
            subTotalElement.text('0');
            totalElement.text('0');

            checkOutBtn.attr('disabled', 'disabled');
            checkOutBtn.addClass('disabled');
            checkOutBtn.attr("style", "background-color: #edededcc !important; color: #cccc !important;");
        }
    }

    //Xoá bag-item
    function getBagItemsElement(element, selector = '.bag-items') {
        while (element.parentElement) {
            if (element.parentElement.matches(selector)) {
                return element.parentElement;
            }
            element = element.parentElement;
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        Summary();
    });
</script>

<script>
    $(document).ready(function () {
        $("#checkout-btn").on("click", function () {
            if (!$(this).prop("disabled")) {
                var userID = "@userID";
                window.location.href = "/User/CheckOut?userID=" + userID;
            }
        });
    });
</script>